.nav-zone{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 28px;
	box-sizing: border-box;
}
.typer.typer-types{
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 28px;
}