<div class="col-md-3">
      <div class="ibox">
          <div class="ibox-content product-box">

              <div class="product-imitation">
                  [ INFO ]
              </div>
              <div class="product-desc">
                  <span class="product-price">
                      ￥1000
                  </span>
                  <small class="text-muted">Andriod</small>
                  <a href="#" class="product-name"> 众包手机APP</a>

                  <div class="small m-t-xs">
                      为众包平台移动端设计
                  </div>
                  <div class="m-t text-righ">

                      <a href="#" class="btn btn-xs btn-outline btn-primary">详情 <i class="fa fa-long-arrow-right"></i> </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        ￥1000
                    </span>
                    <small class="text-muted">Andriod</small>
                    <a href="#" class="product-name"> 众包手机APP</a>

                    <div class="small m-t-xs">
                        为众包平台移动端设计
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-primary">详情 <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
          <div class="ibox">
              <div class="ibox-content product-box">

                  <div class="product-imitation">
                      [ INFO ]
                  </div>
                  <div class="product-desc">
                      <span class="product-price">
                          ￥1000
                      </span>
                      <small class="text-muted">Andriod</small>
                      <a href="#" class="product-name"> 众包手机APP</a>

                      <div class="small m-t-xs">
                          为众包平台移动端设计
                      </div>
                      <div class="m-t text-righ">

                          <a href="#" class="btn btn-xs btn-outline btn-primary">详情 <i class="fa fa-long-arrow-right"></i> </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
