<header id="register">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- menu 4 -->
                    <div class="navbar navbar-default default-menu menu-4" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand default-logo" href="#">CrowdSourcing</a>
                            </div>

                            <div class="collapse navbar-collapse" id="menu-4">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="scroll" href="../index.html">Home</a></li>
                                    <li><a class="scroll" href="html/projects.html">Project</a></li>
                                    <li><a class="scroll" href="#service">Service</a></li>
                                    <li><a class="scroll" href="#team">Team</a></li>
                                    <li><a class="scroll" href="#contact">Contact</a></li>
                                    <li class="active"><a class="scroll" href="html/login.html">My Account<i class="fa fa-child"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end menu -->
                </div>
            </div>
        </header>
		<div class="form">

			<ul class="tab-group">
				<li class="tab active"><a href="#login">Log In</a></li>
				<li ><a href="#signup">Sign Up</a></li>
			</ul>

			<div class="tab-content">
				<div id="signup">
					<h1>Sign Up for Free</h1>

					<form action="/" method="post">

						<div class="top-row">
							<div class="field-wrap">
								<label>
									First Name<span class="req">*</span>
								</label>
								<input type="text" required autocomplete="off" />
							</div>

							<div class="field-wrap">
								<label>
									Last Name<span class="req">*</span>
								</label>
								<input type="text"required autocomplete="off"/>
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Email Address<span class="req">*</span>
							</label>
							<input type="email"required autocomplete="off"/>
						</div>

						<div class="field-wrap">
							<label>
								Set A Password<span class="req">*</span>
							</label>
							<input type="password"required autocomplete="off"/>
						</div>

						<button type="submit" class="button button-block"/>Get Started</button>

					</form>
				</div>

				<div id="login">
					<h1>Welcome Back!</h1>

					<form>

						<div class="field-wrap">
							<label>
								Email Address<span class="req">*</span>
							</label>
							<input type="email"required autocomplete="off" ng-model="loginName"/>
						</div>

						<div class="field-wrap">
							<label>
								Password<span class="req">*</span>
							</label>
							<input type="password"required autocomplete="off" ng-model="loginPassword"/>
						</div>

						<p class="forgot"><a href="#">Forgot Password?</a></p>

						<button class="button button-block" ng-click="login()"/>Log In</button>

					</form>
				</div>

			</div><!-- tab-content -->

		</div> <!-- /form -->
