
  <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
        
            <form class="m-t" role="form">
              
                <div align=center >     <!-- 暂时居中 -->
                    <button class="btn btn-white" name="clear" ng-click="detailedEstimate()">高级估算</button>
                </div>
                
                <div align=center>
                    <button class="btn btn-white" name="clear" ng-click="showRecords()">项目记录</button>
                </div>
            </form>
            
        </div>
    </div>
